:root{
    --primary-color:#26C8A4;
    --altbackground-color:#f9f9f9;
    --line-thickness:15px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 400;
}

@media (max-width: 767px){
    body{
    font-size:12px;
}
}
@media (max-width: 991px){
    body{
    font-size:12px;
}

}
h1, strong{

    font-weight: 800;
}

h2 {


    font-size: 1.8rem;
    font-weight: 800;
}

.title{
    border-bottom: var(--line-thickness) black solid;
    padding-bottom:0;
}


nav a{
   padding:2;
   font-weight: 400; 
}

h6{
    color:var(--primary-color);
    font-weight: 400;
   
}

h4{
    font-weight: 700;
    font-size:1.2em;
}

.workCard-img{
    margin-bottom:10px;
}

.list-unstyled li{
    font-size:0.8em;
    line-height: 1.2em;
}

.about{
    background: var(--altbackground-color);
    padding-bottom: 0px;
}

section{
    /* min-height: 80vh; */
    padding-top:50px;
    padding-bottom:50px;
}

.h2-right{
    border-bottom: var(--line-thickness) solid black;
    padding-left: 0;
    padding-top:10px;
}

.h2-left{
    border-bottom: var(--line-thickness) solid black;
    padding-left: 0;
    padding-top:10px;
    text-align:right;
}

.h2-right-container{
    height: 100%;
}

.section-content-right{
    padding-left:0;
    padding-top:10px;
}
.section-content-left{
    padding-right:0;
    padding-top:10px;
}

.about-img{
    max-height: 80vh;
}

.skills h7{
    margin-bottom:40px;
}
.skills-list{
    /* text-align: center; */
}

.skills-list h8{
    font-weight: 700;
    margin-bottom:20px;
}

.skills-list ul{
    /* margin-top:15px; */
}
.skills-list ul li{
    margin-bottom:10px;
}

.skills-list h4{
    margin-bottom:10px;
}

.skills h3{
    margin-bottom:15px;
}

.career{
    background: var(--altbackground-color);
    padding-top:0;
    padding-bottom:0;
}

.testimonial{
    background:var(--altbackground-color);
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-bottom: 0;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 2px;
        background-color: black;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            /* border: 1px solid #d4d4d4; */
            border-radius: 2px;
           
            
            position: relative;
            /* -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
            /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
        }

            /* .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            } */

            /* .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            } */

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 15px;
            height: 15px;
            line-height: 10px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -7.5px;
            background-color: black;
            border: 2px white solid;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

            .timeline-heading .subheading{
                margin-bottom:5px;
            }

.timeline-badge.alternate {
                /* background-color: var(--primary-color) !important; */
            }
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-size: 1.1em;
}
.timeline-body, .timeline-heading p{
    font-size: 0.8em;
}

.timeline > li.timeline-inverted .timeline-body ,
.timeline > li.timeline-inverted .timeline-heading{
    text-align:left;
}

.timeline-heading, .timeline-body{
    text-align:right;
}

.timeline-body > p,
.timeline-body > ul,
 {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

#resumebtn{
    margin-bottom:25px;
}
@media (max-width: 2000px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 17px;
        margin-left: 16px;
        top: 30px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

        ul.timeline .timeline-body, ul.timeline .timeline-heading{
            text-align: left;
        }
}

.testimonial blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 4rem;
    position: absolute;
    left: -20px;
    top: -30px;
    color: black;
    font-style: normal;
}

.testimonial{
    /* padding-top:10%;
    padding-bottom: 10%; */
}

.testimonial-card-deck{
    margin-top:20px;
}

.testimonial-card{
    margin-top:40px;
}

.testimonial blockquote{
    font-style: italic;
}

.contact{
    /* min-height: 90vh; */
}

.contact h5{
    font-size: 2em;
    font-weight: lighter;
}

.contact .logo{
    padding-bottom:20px;
}

.footer{
    border-top: var(--line-thickness) black solid;
}

.altbackground {
    position: relative;
    background:var(--altbackground-color);
  }
  
  .altbackground:before, 
  .altbackground:after {
    content: "";
    position: absolute;
    background: var(--altbackground-color);  /* Match the background */
    top: 0;
    bottom: 0;
    width: 9999px;   /* some huge width */
  } 
  .altbackground:before {
    right: 100%; 
  }
  .altbackground:after {
    left: 100%;
  }

  html, body {
    overflow-x: hidden;
}

.workCard-container{
    margin-bottom:20px;

}
.workCard{
    background:white;
    /* border:1px solid rgba(0,0,0,0.1); */
    /* border-radius: 10px; */
    box-shadow: 0px 10px 30px 2px rgba(0,0,0,0.1);
    overflow:hidden;
    height:100%;
    top:0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    position: relative;
}

.workCard:hover{
    
    box-shadow: 0px 30px 50px 2px rgba(0,0,0,0.2);
    top:-15px;
    position: relative;
}

.large .workCard-content{
    padding-left:10px;
    padding-right:10px;
}


.workCard-img{
    /* box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1); */
    margin-bottom:20px;
}


.works{
    margin-top: 150px;
}

#mainNav{
    background: rgba(255,255,255,0.95);

}

#mainNav .navbar-brand h1{
    padding-top:30px;

    font-size: 1.5rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }



#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom:0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  #mainNav.navbar-shrink .title{
      border-bottom:0px solid black;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
  }
#mainNav.navbar-shrink .navbar-brand h1{
    font-size: 1.25rem;
    padding: 0px 0;
  }
  
  @media(max-width:991px){
    #mainNav .navbar-brand h1{
        padding-top:10px;
        font-size: 1rem;
      }
      #mainNav.navbar-shrink .navbar-brand h1{
        font-size: 1rem;
        padding: 0px 0;
      }
      .works{
          margin-top:50px;
      }
  }
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-left: 250px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
  }
  
  .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand a {
    color: #999999;
  }
  
  .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
  }
  
  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-left: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }


  .article-header{
margin-top:200px;
margin-bottom:100px;
padding:50px 0px 50px 0px;
  }

  .article-summary td{
    padding: 5px;
  }

.highlightquote:before{
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 4rem;
    position: absolute;
    left: -20px;
    top: -30px;
    color: black;
    font-style: normal;
}
  
.highlightquote{
    font-size: 1.5rem;
    font-style: italic;
}

h3{
    font-size: 1.2rem;
}

.btn-dark{
    background:black;
    border-radius: 2px;
}

.navbar-toggler{
    border:none;
    padding:0px;
}
.navbar-toggler-icon{
    color:black;
}

.navbar-brand{
    padding-left:none;
}

p>a, p>a:hover,p>a:visited, a.link, a.link:hover, a.link:visited{
    color:var(--primary-color);
}

.workCard>a{
    color:black;
}
.workCard>a:hover{
    text-decoration: none;
}

body{
    visibility: hidden;
}

.introduction{
    margin-top:150px;
}

section.works{
    margin-top:0;
    padding-top:0;
}

nav .nav-link:focus{
    color:rgba(0,0,0,.5);
}

.action-link:hover{
    text-decoration: none;
}
