<section class="footer container pt-0">
        <footer class="pt-2 my-md-0 pt-md-3">
            <div class="row">
                
                <div class="col-8">
                    <p><strong>kevin k.w. ng </strong>&copy; 2018 |  ux & interaction design</p>
                    <!-- <small class="d-block text-muted">Designed and coded by:</small>
                    <h1 class="my-0">kevin ng</h1>
                    <p>ux & interaction design</p>
                    <small class="d-block text-muted mb-3">&copy; 2018</small> -->
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="row">
                        <a class="text-dark mx-2" href="https://www.linkedin.com/in/nkevin/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="text-dark mx-2 " href="mailto:kwng.kevin@gmail.com?" target="_top"><i class="fas fa-envelope"></i></a>
                    </div>
                    </div>
                <!-- <div class="col-6 col-md">
                    <h5>Works</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="#">Panda Labs: Web Platform for Conservation</a>
                        </li>
                        <li>
                            <a class="text-muted" href="#">Breathe Easy: Interactive Air Quality Tool</a>
                        </li>
                        <li>
                            <a class="text-muted" href="#">Dreamer: Web Portal for Dreams</a>
                        </li>
                        <li>
                            <a class="text-muted" href="#">Street Spirit: Speculative Installation</a>
                        </li>
                        <li>
                            <a class="text-muted" href="#">Move Ranger: Social and Active Game</a>
                        </li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="index.html#">Overview</a>
                        </li>
                        <li>
                            <a class="text-muted" href="index.html#">Specialties</a>
                        </li>
                        <li>
                            <a class="text-muted" href="index.html#">Résumé</a>
                        </li>
                        <li>
                            <a class="text-muted" href="index.html#">Clients</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Contact</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted" href="https://www.linkedin.com/in/nkevin/" target="_blank">linkedin.com/in/nkevin</a>
                        </li>
                        <li>
                            <a class="text-muted" href="mailto:kwng.kevin@gmail.com?" target="_top">kwng.kevin@gmail.com</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </footer>
    </section>