<nav class="navbar navbar-expand-md navbar-light fixed-top" id="mainNav">
        <div class="container">

            <a class="navbar-brand title" href="https://www.kevng.com/index.html">
                <h1>kevin ng
                    <small>ux & interaction design</small>
                </h1>

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://www.kevng.com/index.html#work">work
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://www.kevng.com/index.html#about">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="https://www.kevng.com/index.html#contact">contact</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" target="_blank" href="https://drive.google.com/open?id=1D380pB1MOv6HlZz7NDoNJkYHwr03LbTF">résumé</a>
                        </li>

                </ul>
            </div>
        </div>
    </nav>